
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script> -->

<div class="modal fade" id="modalads" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center"> <img src="assets/pivot.png"></h4>
        </div>
        <div class="modal-body">
      <h3 style="text-align: center; color: red;">SPECIAL DISCOUNT OFFER!!!!!! <br>30% heavy discount</h3>    

        </div>
        <div class="modal-footer" style="text-align: center;">
          <a id="adsbtn" data-dismiss="modal" href="#contact" class="btn btn-danger btn-lg text-center">Claim it now</a> 
        </div>
      </div>
    </div>
  </div>

<div class="scrollTop" style="transform: rotate(180deg);">
  <a href="#slider" class="page-scroll" style="z-index: 2500;"><img src="assets/scrolTop.png" width="40" height="40"></a>
</div>

<div class="slider-area" id="slider">
	<div class="zigzag-bottom white"></div>

	<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">

	    <ol class="carousel-indicators">
	        <li data-target="#carousel" data-slide-to="0" class="active"></li>
	        <li data-target="#carousel" data-slide-to="1"></li>
	        <li data-target="#carousel" data-slide-to="2"></li>
	    </ol>
	    <!-- Carousel items -->

	 <div class="carousel-inner">

	        <div class="active item"><h1  style="z-index: 10; position: absolute;text-align: center !important; text-transform: uppercase; color: white; font-size: " style="font-size: 40px;">Professional it traning center</h1><img src="assets/cover2.jpg" style="height: 100vh;  width: 100%;"></div>
	         <div class="item"><h1  style="z-index: 10; position: absolute;text-align: center !important; text-transform: uppercase; color: white; font-size: " style="font-size: 40px;">Where creativity comes alive</h1><img src="assets/cover1.jpg" style="height: 100vh;  width: 100%;"></div>
	          <div class=" item"><h1  style="z-index: 10; position: absolute;text-align: center !important; text-transform: uppercase; color: white; font-size: " style="font-size: 40px;">Providing quality and effective IT solutions</h1><img src="assets/cover3.jpg" style="height: 100vh;  width: 100%;"></div>



	        
	    </div>
	    
	    <!-- Carousel nav -->
	    <a class="carousel-control left" style="padding-top: 40vh;" href="#carousel" data-slide="prev">&lsaquo;</a>
	    <a class="carousel-control right" style="padding-top: 40vh;" href="#carousel" data-slide="next">&rsaquo;</a>
	</div>

</div>

<div id="about-us">
<div class="zigzag-bottom red"></div>
	<div class="container">
	<h2 class="about-heading">About us</h2>
		<div class="row">
					<p>
	
					We introduce ourself as one of the most competitive, innovative and dedicated group of professionalism in it sector.
					We believe in continuous support, service and mostly we believe in: “Quality, Excellence & customer satisfaction”
					<b>PIVOT ANIMATION ACADEMY</b> provide the quality add excellence in various full-stack web development, Animation Tranning and Professional Photography.</p>		
			
		</div>
		<!-- <div class="read-more" style="float: right;">
			  <button type="button" class="btn btn-danger">Read More</button>
		</div> -->
	
  
  <!-- Trigger the modal with a button -->
  <br/>
  <button type="button"  class="btn btn-danger" data-toggle="modal" data-target="#myModal" style="float: right; background:#ef3f3d;">Read More</button>

  <!-- Modal -->
		  <div class="modal fade" id="myModal" role="dialog">
		  
		    <div class="modal-dialog modal-lg">
		     
		      <!-- Modal content-->
		      <div class="modal-content">
		       <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center">More Info</h4>
        </div>
		        <div class="modal-body" style="text-align: left; line-height: 25px;">
		          <p style="text-align: left; line-height: 25px; padding-top: 15px;">We introduce <b>Animation Tranning, Photography, Web Designing & Development, Web Promotions, Networking, Hardware Troubleshooting, Computer Supplies/Accessories, Video Editing, Animation , Film Making& Brodcasting  Software Development and Consultants</b> in the most affordable rate. So, be the one to have this great service.</p><hr>
		          <p style="text-align: left;line-height: 25px;">
				<B>PIVOT ANIMATION ACADEMY </B>Established in 2016 to provide the quality add excellence in Animation Tranning  Vidusel Advertisement and Professional Photography
				
				<b>PIVOT ANIMATION ACADEMY</b> is sensitive to the dynamic business environment in rapid growth, efficiency and quick responses are essential to succeed in an emerging global and competitive environment. This scenario translates into the need for having the right information at the right time and at the right cost, which PIVOT ANIMATION ACADEMY is very able and willing to provide.
				</p><hr/>
				<p style="text-align: left;line-height: 25px;">
				We believe in continuous support, service and mostly we believe in: <b>“QUALITY, EXCELLENCE AND CUSTOMER SATISFACTION”</b></p>
		        </div>
		        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
		       
		      </div>
		      
		    </div>
		  </div>
			</div>
</div>

<!-- Qualified Start -->
<div class="qualified">
<div class="zigzag-bottom white "></div>
	<div class="container">
		<div class="row">	
			<div class="col-md-3 col-xs-6 text-center">
				<div class="text_wrap">
					<h3>Qualified Teachers</h3>
					<h2 class="Count">30</h2>
				</div><!--text_wrap-->
			</div><!--col-sm-3-->
			<div class="col-md-3 col-xs-6 text-center">
				<div class="text_wrap">
					<h3>Our Cources</h3>
					<h2 class="Count">15</h2>
				</div><!--text_wrap-->
			</div><!--col-sm-3-->
			<div class="col-md-3 col-xs-6 text-center">
				<div class="text_wrap">
					<h3>Total Students</h3>
					<h2 class="Count">200</h2>
				</div><!--text_wrap-->
			</div><!--col-sm-3-->
			<div class="col-md-3 col-xs-6 text-center">
				<div class="text_wrap">
					<h3>Job Placed</h3>
					<h2 class="Count">100</h2>
				</div><!--text_wrap-->
			</div><!--col-sm-3-->
		</div><!--row-->
	</div><!--container-->
</div><!-- Qualified -->
<!-- Qualified End -->

<!-- Courses Start -->
<div class="courses" id="courses">
<div class="zigzag-bottom red"></div>
	<div class="container">
	<h2 class="course-heading">Courses</h2>
		<div class="row course">
			<div class="col-md-3 col-sm-4 col-xs-6  ">
				<div class="main-icon">
					<a href="" class="small_screen_center courses-icon" data-toggle="modal" data-target="#webdesign" ><img src="assets/web.png" height="115" width="120" ><br>
					<span title="course-title"> Web Development</span>
					</a>
				</div>	
			</div>
			
			<div class="col-md-3 col-sm-4 col-xs-6 small_screen_center ">
				<div class="main-icon">
					<a href="" class="courses-icon" data-toggle="modal" data-target="#graphics"  ><img src="assets/graphics.png" height="115" width="120"><br>
						<span title="course-title"> Graphics</span>
					</a>
				</div>	
			</div>

			<div class="col-md-3 col-sm-4 col-xs-6 small_screen_center ">
				<div class="main-icon">
					<a href="" class="courses-icon" data-toggle="modal" data-target="#3D-animation"  ><img src="assets/3d.png" height="115" width="120"><br>
						<span title="course-title"> 3D Animation</span>
					</a>
				</div>	
			</div>
			<div class="col-md-3 col-sm-4 col-xs-6 small_screen_center ">
				<div class="main-icon">
					<a href="" class="courses-icon small_screen_center" data-toggle="modal" data-target="#photography"  ><img src="assets/photography.png" height="115" width="120"><br>
						<span title="course-title"> Photography</span>
					</a>
				</div>	
			</div>
			
			<div class="col-md-3 col-sm-4 col-xs-6 small_screen_center ">
				<div class="main-icon">
					<a href="" class="courses-icon" data-toggle="modal" data-target="#vfx"  ><img src="assets/vfx.png" height="115" width="120"><br>
						<span title="course-title"> V.F.X</span>
					</a>
				</div>	
			</div>
			<div class="col-md-3 col-sm-4 col-xs-6 small_screen_center ">
				<div class="main-icon">
					<a href="" class="courses-icon" data-toggle="modal" data-target="#film-making"  ><img src="assets/film-making.png" height="115" width="120"><br>
						<span title="course-title"> Film Making</span>
					</a>
				</div>	
			</div>
			<div class="col-md-3 col-sm-4 col-xs-6 small_screen_center ">
				<div class="main-icon">
					<a href="" class="courses-icon" data-toggle="modal" data-target="#visual-effect"  ><img src="assets/visual-effect.png" height="115" width="120"><br>
						<span title="course-title"> Visual Effect</span>
					</a>
				</div>	
			</div>
			<div class="col-md-3 col-sm-4 col-xs-6 small_screen_center ">
				<div class="main-icon">
					<a href="" class="courses-icon" data-toggle="modal" data-target="#storyboard"  ><img src="assets/Storyboard.png" height="115" width="120"><br>
						<span title="course-title"> Storyboard and Art</span>
					</a>
				</div>	
			</div>
		</div>	<!--row-->
	</div><!--container-->
</div><!--Courses -->
<!-- Courses End -->


<!-- Our Work Start -->
 <section id="home_our_work">
 <div class="zigzag-bottom white "></div>
    	<div class="container">
        	<div class="row">
            	<div class="col-sm-12 small_screen_center">
                	<div class="our_work_wrap">
                    	<h2 class="text-center">Why Choose Pivot Animation Academy</h2>
                        <div class="content_wrapper">
                        	<div class="work_content benefit_wrap">
                            	<!-- <h6>10 Benefits of Choosing Nexus <span>IT Consultants to Support Your</span> Computer Network.</h6> -->
                                <ul class="list_wrap">
                                	<li>Helps you in build up your career</li>
                                    <li>Excel you in particulat technology </li>
                                    <li>Develop ideas and screening in real market</li>
                                    <li>Take you to the next floor for the exceller</li>
                                    <li>Make you pro in your choosen technology</li>
                                    <li>High experienced instructors/ trainers </li>
                                    
                                </ul><!--list_wrap-->
                               
                            </div><!--work_content-->
                            <div class="work_content it_expert_content hidden-xs">
                            	<!-- <h6>Top 10 Reasons Why Park City
								<span>Businesses Need Nexus’ IT</span>
								Experts on Their Team.</h6> -->
                                <ul class="list_wrap">
                                	<li>Where creativity comes alive</li>
                                    <li>Friendly learning environment</li>
                                    <li>Good behavior in market / Diplomatic </li>
                                    <li>provide necessary materials you desired</li>
                                    <li>Silent environment for learning </li>
                                    <li>Job orientiation program</li>
                                    
                                    
                                </ul><!--list_wrap-->
                            </div><!--work_content-->
                        </div><!--content_wrapper-->
                    </div><!--our_work_wrap-->
                </div><!--col-sm-12-->
            </div><!--row-->
        </div><!--container-->
    </section><!--home_our_work-->
<!-- Our Work End -->








<!-- Office Gallery Start -->
<div id="office-gallery">
	<div class="zigzag-bottom black"></div>
	<div class="container">
	<!-- <h2 class="Gallery-heading">Gallery</h2> -->
		<div class="row gallery">
						<!-- <p id="notice"><%= notice %> --></p>  
			  <div class="student-galleries">
			  <h2 class="text-center">Succes Gallery</h2></br/><br/>
			 <!--  <%= link_to 'New Student Gallery', new_student_gallery_path, class: "pull-right" %><br/> -->
			    <div class="row">
			       <% @student_galleries.each do |student_gallery| %>
			          <div class="col-md-3 col-sm-6 ">
			          <div class="well" style="    height: 360px;">
			            <div class="student_gallery card-img-top" style="height: 200px; text-align: center;">
			             <%= cl_image_tag student_gallery.image.url, class: "card-img-top", alt: "Card image cap"%>
			            	<h4>Name: <%= student_gallery.name%> </h4>
			                <p>Faculty: <%= student_gallery.faculty%></p>
			                <p>Postion: Web Designer</p>
			                <p>College: <%= student_gallery.college%></p>
			                <p>Working in: <%= student_gallery.working_in%></p>
			            </div>
			            </div>

			        </div>


			        <% end %>
			        <a href="/student_galleries"  class="btn btn-danger" style="float: right; background:#ef3f3d; margin:10px 15px 0 0;
">View More</a> 

			       
			   
      			</div>
			</div>
		</div><!--row end-->
	</div><!--container-->
</div><!--Office gallery-->
<!--Office Gallery End-->

<!--Contact Start-->
<div class="contact" id="contact" >
<div class="zigzag-bottom white "></div>
	<div class="container">
	<h2 class="contact-heading text-center">Contact</h2>
		<div class="row ">
			<div class="col-md-6  "> 
			<div class="google-maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d507.44726999611754!2d85.32054845668408!3d27.671027353966448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19ce3b21eb07%3A0x8f4059ac57377e11!2sAgni+Party+Palace!5e0!3m2!1sen!2snp!4v1492075227342" width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>	
			</div>
			<div class="col-md-6" > 
				<form id="contact_form" name="post" action="/posts" data-remote="true" enctype="multipart/form-data" novalidate class="css-form">
					<div class="row">
	              		<div class="col-md-6 ">
	                		<div class="form-group">
	                  			<input type="text" id="contact_name" name="name" placeholder="Your Name *" class="form-control" required>
	                		</div>
	              		</div>
	              		<div class="col-md-6 ">
	                		<div class="form-group">	           	
	                  			<input  name="email" id="contact_email" type="email" class="form-control" placeholder="Your Email *" required>
	                 		</div>
	              		</div>
	              	</div>

	              	<div class="row">
	              		<div class="col-md-6 ">
	                		<div class="form-group">
	                  			<input id="contact_phone" name="phone" type="number" class="form-control" placeholder="Your Contact *" required>
	                 		</div>
	              		</div>
	             	 	<div class="col-md-6 ">
	                		<div class="form-group">
	                  			<select id="contact_course" name="course" class="form-control" placeholder="select course">
				                  	<option value="" disabled selected hidden>Please Choose Course...</option>
				                  	<option value="Web Design">Webdesign</option>
				                  	<option value="Graphics Design">Graphics Design</option>
				                  	<option value="3D">3D</option>
				                  	<option value="Animation">Animation</option>
				                  	<option value="Film">Film</option>
				                  	<option value="Sketching">Sketching</option>
				                  	<option value="Multimedia">Multimedia</option>
				                  	<option value="Art and StoryBoard">Art and StoryBoard</option>
				                  	<option value="Television">Television Broadcasting</option>
				                  	<option value="AutoDesk Maya">AutoDesk Maya</option>
	                  			</select>
	                		</div>
	            		</div>
	              	</div>
	            
	            	<div class="row">
	              		<div class="col-md-12">
	                		<div class="form-group">
	                  			<textarea id="contact_message" name="message" class="form-control" placeholder="Drop Some Words *" rows="5"></textarea>
	                		</div>
	              		</div>
	            	</div>
	
	            	<div class="form-group">
	              		<section >
	                		<button type="submit" name="submitlink" id="contact_submit" class="btn btn-lg btn-block btn-flat btn-danger">Send <i class="fa fa-paper-plane"></i></button>
	              		</section>
	            	</div>
          		</form>
          		
          		<div class="contact-info">
		          <p>Kumaripati 083 Lalitpur</p>
		          <p>Opposite to Agni Party Palace</p>
			      <p>Bagmati, Nepal</p>
			      <p>Phone/FAX: ++977-01-5512324</p>
				  <p>Email: info@pivotanimationacademy.com</p>
				</div>
			</div><!--col-md-6-->
		</div><!--row-->
	</div><!--container-->
</div><!--contact-->
<!-- Contact End -->





<!-- courses model Start -->
<div class="container">
  <div class="modal fade" id="webdesign" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title text-center">Web Design</h3>
        </div>
        <div class="modal-body">
        <h4><u>Course Content</u></h4>
        <h4>Webster pro</h4>
          <p>Photoshop CC</p>
          <p>HTML(Hyper Text Markup Language) HTML5</p>
          <p>Dreamweaver CC / Sublime</p>
          <p>CSS</p>
          <p>Bootstrap / Material Design</p>
          <p>Java Scrip</p>
        <h4>Webster Advance</h4>
          <p>PHP</p>
          <p>CMS</p>
          <p>Portal</p>
          <p>Application</p>
          <p>Java Script</p>
          <p>Angular JS</p>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- courses model End -->
<!-- courses model Start -->
<div class="container">
  <div class="modal fade" id="graphics" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title text-center">Graphics Desing</h3>
        </div>
        <div class="modal-body">
      	<h4><u>Course Content</u></h4>
          <p>Photoshop</p>
          <p>Illustrator</p>
          <p>Indesign</p>
          <p>CSS</p>
          <p>CorelDraw</p>
          <p>Project Work</p>
        </div>
        <div class="modal-footer">
       <!--    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- courses model End -->
<div class="container">
  <div class="modal fade" id="3D-animation" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title text-center">3D-animation</h3>
        </div>
        <div class="modal-body">
        <h4><u>Course Content</u></h4>
        <h4>Animation</h4>
          <p>2D Animation</p>
          <p>Cell Animation</p>
          <p>Elastic Reality</p>
          <p>3D Animation</p>
          <p>3D Studio Max</p>
          <p>Project Work</p>
        <h4>Advance Animation</h4>
          <p>Autodesk Maya</p>
          <p>Product and character modeling</p>
          <p>Texturing and UV Mapping</p>
          <p>Rigging</p>
          <p>Animation and Workflow</p>
          <p>Lighting and setu</p>
          <p>Project Work</p>
        <h4>Autodesk Maya Advance</h4>
          <p>Modeling / Shading / Texturing</p>
          <p>Rigging / Lighting</p>
          <p>character Animation</p>
          <p>Dynamic</p>
          <p>Hair / Fur / ncloth</p>
          <p>Project Work</p>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- courses model End -->
<!-- courses model Start -->
<div class="container">
  <div class="modal fade" id="photography" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title text-center"> Professional Photography</h3>
        </div>
        <div class="modal-body">
        <h4><u>Course Content</u></h4>
          <p>Photography</p>
          <p>Basic fundamental of photography</p>
          <p>Know your camera first</p>
          <p>Lens and its types</p>
          <p>Camera handeling and basic techniques</p>
          <p>What makes a best photograph</p>
          <p>Uses of different lenses</p>
          <p>Flash photography and studio lighting</p>
          <p>How to score in different genre of photography</p>
          <p>How to know good photographs</p>
          <p>Photography and its surroundings</p>
          <p>Archiving and captioning the photographs</p>
          <p>Importanst tools of Adobe Photoshop and light room</p>
          <p>Practical</p>
          <p>Project Work</p>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- courses model End -->
<!-- courses model Start -->
<div class="container">
  <div class="modal fade" id="vfx" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title text-center"> Television Broadcasting & V.F.X / SOUND and Editing</h3>
        </div>
        <div class="modal-body">
<h4><u>Course Content</u></h4>
        <h4>Television Broadcasting & V.F.X </h4>

          <p>Premiere</p>
          <p>Chorma Concept (Blue and Green screen</p>
          <p>After Effects</p>
          <p>Audition</p>
          <p>Cubase</p>
          <p>Telivision Broadcast eaditing</p>
          <p>Film editing casting and promos</p>
          <p>Project Work</p>
        <h4> V.F.X / SOUND and Editing</h4>
          <p>Adobe Premiere</p>
          <p>Adobe After Effect</p>
          <p>Cubase</p>
          <p>Program ID / Station ID</p>
        </div>
        <div class="modal-footer">
         <!--  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- courses model End -->
<!-- courses model Start -->
<div class="container">
  <div class="modal fade" id="film-making" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title text-center"> Film making technology</h3>
        </div>
        <div class="modal-body">
        <h4><u>Course Content</u></h4>
        <h4>pre-production</h4>
          <p>Refining idea</p>
          <p>Story, Screenplay, Dialogue</p>
          <p>Analysis of script & casting</p>
          <p>Location, Sets & Costume</p>
          <p>Sketching & storyboard</p>
        <h4>Cinematography & lighting</h4>
          <p>Introduction to Video and camera</p>
          <p>Types of camera, Know your camera first</p>
          <p>Lenses and it's uses</p>
          <p>Depth of field</p>
          <p>Camera angle and shot size</p>
          <p>Types of camera movement</p>
          <p>Composition, cutting contunity</p>
          <p>Different types of Filters and its use</p>
          <p>Lighting techniques</p>
          <p>Different types of lights used in cinematography</p>
          <p>Different types of equipments and its use</p>
        <h4>Film Making and Direction</h4>
          <p>Director as Visualizer</p>
          <p>Film makes techniques</p>
          <p>Screenplay</p>
          <p>Working with multiple characters</p>
          <p>Sound advice and Equipment choice</p>
          <p>Analytic dramatic continuity</p>
          <p>Handaling Actors</p>
        <h4>Film and video editing</h4>
          <p>Introduction to editing</p>
          <p>linear and Non-linear tools</p>
          <p>Theory of editing</p>
          <p>Editing terminology</p>
          <p>Styles of cutting</p>
          <p>Continuity</p>
          <p>Music Editing</p>
          <p>Basic visual FX</p>
          <p>Rules of non-linear editing</p>
          <p>Visualization</p>
          <p>Multi-track editing</p>
          <p>Basic visual FX</p>
        <h4>Audio Editing</h4>
          <p>Compositing and Arranging Music</p>
          <p>Sound and Foley FX</p>
          <p>Mastering</p>
          <p>Techniques of Dubbing</p>
          <p>Editing Sound</p>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- courses model End -->
<!-- courses model Start -->
<div class="container">
  <div class="modal fade" id="visual-effect" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center"> Visual Effect</h4>
        </div>
        <div class="modal-body">
      <h5><u>Course Content</u></h5>
          <p>CGI Still image</p>
          <p>Motion Graphics</p>
          <p>Tracring / Movematching</p>
          <p>Live Action Image</p>
          <p>Green Screen / Blue Screen</p>
          <p>Motion Graphics</p>
          <p>Digital paint and Rig removal</p>
          <p>CGI Animation</p>
          <p>Effects and physcal simulator</p>
          <p>Compositing</p>
          <p>Visual Effects Reel</p>
          <p>Stereoscopic 3D</p>
        </div>
        <div class="modal-footer">
         <!--  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- courses model End -->
<!-- courses model Start -->
<div class="container">
  <div class="modal fade" id="storyboard" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center"> Storyboard and Art</h4>
        </div>
        <div class="modal-body">
      <h5><u>Course Content</u></h5>
          <p>Sketching</p>
          <p>Anatomy Study</p>
          <p>Character and Environment Development</p>
          <p>Digital painting</p>
          <p>Full phase storyboard</p>
          <p>Project Work</p>
        </div>
        <div class="modal-footer">
        <!--   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- courses model End -->

	<script type="text/javascript">
	$(document).ready(function () {
        $('ul.nav > li').click(function (e) {
            // e.preventDefault();
            $('ul.nav > li').removeClass('active');
            $(this).addClass('active');                
        });            
    });

	$(function(){ 
     var navMain = $(".navbar-collapse"); // avoid dependency on #id
     // "a:not([data-toggle])" - to avoid issues caused
     // when you have dropdown inside navbar
     // navMain.on("click", "a:not([data-toggle])", null, function () {
     //     navMain.collapse('hide');
     // });
       navMain.on("click", "a.page-scroll", null, function () {
         navMain.collapse('hide');
     });
 });


$(document).ready(function(){
    $('#adsbtn').bind('click', function(event) {
       window.location.href = "#contact";

        event.preventDefault();
    });
});



document.addEventListener('DOMContentLoaded', function() {
    $( "ul.nav li" ).first().addClass('active');
    $('#modalads').modal('show');
}, false);
    

	</script>
	<script>
	$(document).scroll(function(event){
                    if ($(this).scrollTop() > 1500) {
                        $('.scrollTop').fadeIn();
                    } else {
                        $('.scrollTop').fadeOut();
                    }
                });
</script>