<p id="notice"><%= notice %></p>
  <div class="student-galleries" style="padding-bottom: 50px;">
 
  <div class="container">
  <%= link_to ' Add New Student', new_student_gallery_path, class: "pull-right btn btn btn-primary" %>
  <h1 class="text-center">Student Galleries</h1>
  

    <div class="row">
         <% @student_galleries.each do |student_gallery| %>
          <div class="col-md-4">
                <div class="card card--big" >
                  <div class="card__image"  style="text-align: center;" ><%= image_tag student_gallery.image.url(:medium), class: "card-img-top", alt: "Card image cap", width: "100%", height:"100%" %></div>
                  <h2 class="card__title">Sujan Maharzan</h2>
                  <p class="card__text">
                      Faculty: <%= student_gallery.faculty%><br/>
                      working in: <%= student_gallery.working_in%><br/>
                      college: <%= student_gallery.college%><br/>
                  </p>
                  <br/>
                  <div class="card__action-bar">
                    <button class="card__button"><%= link_to 'Edit', edit_student_gallery_path(student_gallery) %></button>
                    <button class="card__button"><%= link_to 'Destroy', student_gallery, method: :delete, data: { confirm: 'Are you sure?' } %></button>
                  </div>
                </div>   
            </div>
      <!-- </div> -->
    <% end %>
      </div>
    </div>
</div>
<style>


  


</style>







