<p id="notice"><%= notice %></p>

  </li>
<h1>Student Galleries</h1>
     
<%= current_user.email %>
  <div class="student-galleries">
  <%= link_to 'New Student Gallery', new_student_gallery_path, class: "pull-right" %><br/>
  <div class="container">

    <div class="row">
    
         <% @student_galleries.each do |student_gallery| %>
          <div class="col-md-3">
            <div class="well student_gallery">
              <%= image_tag student_gallery.image.url(:medium), class: "card-img-top", alt: "Card image cap" %>
                <p>Faculty:<%= student_gallery.faculty %></p>
                <p>Postion:<%= student_gallery.postion %></p>
                <p>College:<%= student_gallery.college %></p>
                <p>Working in:<%= student_gallery.working_in %></p>
                <%= link_to 'Edit', edit_student_gallery_path(student_gallery) %>
              <%= link_to 'Destroy', student_gallery, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
        </div>
    <% end %>
      </div>
    </div>
</div>



